/* Visp훮r카gie iestat카jumi */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

/* Header */
.site-header {
  padding: 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 6rem;
}

.header-text {
  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.1rem;
  color: #6b4530;
}

h3,
p {
  margin: 0;
  padding: 0;
}

.language {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1.5rem 0;
}

.lang {
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  background-color: #ddd;
  color: #000;
}

.lang.active {
  background-color: #ffcd93;
}

/* Navig훮cija */
.main-nav {
  background-color: #57595b;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin: 0;
}

.main-nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

/* Galvenais saturs */
.content {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.left-column,
.right-column {
  flex: 1;
}

.left-column img {
  width: 100%;
}

.info-block {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.info-block img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
.info-block > div {
  width: 50%;
}
.info-block h3 {
  margin-top: 0;
}

/* Footer */
.site-footer {
  background-color: #57595b;
  color: white;
  padding: 1rem;
}

.footer-top {
  display: flex;
  flex-direction: row;
}

.footer-note {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: center;
}

@media (max-width: 500px) {
  .header-container,
  .content,
  .footer-top {
    flex-direction: column;
  }

  .info-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.header-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}
.requisites {
  flex-direction: column;
}
.footer-note {
  display: flex;
  justify-content: center;
}

.web-icon {
  max-width: 2.7rem;
  padding: 0 0.3rem;
}

.nav-link a {
  transition:
    color 0.4s ease,
    transform 0.4s ease-out;
  display: inline-block;
}

.nav-link a:hover {
  color: rgb(190, 188, 28);
  transform: scale(1.05);
}

.extra-info {
  color: red;
  display: flex;
  justify-content: right;
  font-size: 0.8rem;
}

.main-text {
  text-align: justify;
}

.sub-header {
  padding: 0.5rem 0;
  color: #57595b;
}
